<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>IsItOutlawedAnniversary?</title>
  </head>
  <body>
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav> -->
    <div class="center-screen">
      <center><h1 style="color:white;">It's not that day :((( </h1></center>
      <center><h2 style="color:white;">Only {{ countdown }} days for anniversary...</h2></center>
    </div>
  </body>
  <style>
    html, body {
      background-image: url("./static/wait.jpg");
    }

    .center-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 80vh;
    }
</style>
</html>